# Build artifacts
build/

# External dependencies
external/

# Local environment variables
.env

# IDE-specific files
.vscode/
.idea/

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# Vim swap files
*.swp
*.swo

# Executables
#neonwave

                                                                                                                       │
# Prerequisites                                                                                                 │
*.d                                                                                                             │

# Compiled Object files                                                                                         │
*.slo                                                                                                           │
*.lo                                                                                                            │
*.o                                                                                                             │
*.obj                                                                                                           │

# Precompiled Headers                                                                                           │
*.gch                                                                                                           │
*.pch                                                                                                           │

# Linker files                                                                                                  │
*.ilk                                                                                                           │

# Debugger Files                                                                                                │
*.pdb                                                                                                           │

# Dynamic libraries                                                                                    │
*.so                                                                                                            │
*.dylib                                                                                                         │
*.dll                                                                                                           │

# module files                                                                                          │
*.mod                                                                                                           │
*.smod                                                                                                          │

# Compiled Static libraries                                                                                     │
*.lai                                                                                                           │
*.la                                                                                                            │
*.a                                                                                                             │
*.lib                                                                                                           │

# Executables ════════════════════════════════════════════════
*.exe                                                                                                           │
*.out                                                                                                           │
*.app                                                                                                           │

# debug information files                                                                                       │
*.dwo                                                                                                           │

# Created by venv; see https://docs.python.org/3/library/venv.html                                              │
venv/
